In [2]:
import pandas as pd
import numpy as np
import geopandas as gpd
import shapely.geometry
import datetime
import time
from collections import Counter
from numpy import array
from numpy import argmax
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from intervals import Interval
import warnings
warnings.filterwarnings('ignore')

## 垃圾数据处理

In [3]:
# 数据预处理
data=pd.read_csv('../data/Hoorn/Hoorn_OpenLitterMap.csv')

In [4]:
df = data.fillna(0)# 填充缺失值

In [5]:
df

,id,verification,phone,datetime,lat,lon,picked up,address,total_litter,SMOKING,...,ear_plugs,elec_small,elec_large,batteries,balloons.1,life_buoy,other,custom_tag_1,custom_tag_2,custom_tag_3
0,118956,2,iPhone 6,2021-02-03 14:05:54,52.651031,5.081417,Yes,"1, Stijl, Kersenboogerd, Hoorn, North Holland,...",2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0
1,118957,2,iPhone 6,2021-02-03 13:54:23,52.649972,5.082583,Yes,"18, Amstelweg, Kersenboogerd, Hoorn, North Hol...",1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0
2,118958,2,iPhone 6,2021-02-03 14:06:30,52.650917,5.081553,Yes,"2, Stijl, Kersenboogerd, Hoorn, North Holland,...",2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0
3,118959,2,iPhone 6,2021-02-03 14:02:00,52.651183,5.082656,Yes,"47, Stijl, Kersenboogerd, Hoorn, North Holland...",1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0
4,118960,2,iPhone 6,2021-02-03 14:01:17,52.651181,5.082553,Yes,"29, Stijl, Kersenboogerd, Hoorn, North Holland...",1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19622,279325,2,iPhone 13 mini,2022-03-20 09:46:20,52.652412,5.081511,Yes,"43, Ekster, Kersenboogerd, Hoorn, North Hollan...",1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0
19623,279326,2,iPhone 13 mini,2022-03-20 09:45:09,52.652428,5.080361,Yes,"74, Lijster, Kersenboogerd, Hoorn, North Holla...",1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0
19624,281636,2,iPhone 13 mini,2022-03-20 10:00:23,52.654053,5.079644,Yes,"Spaarneweg, Kersenboogerd, Hoorn, North Hollan...",1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,brand:oasis,0,0.0
19625,281638,2,iPhone 13 mini,2022-03-20 09:59:52,52.654020,5.079669,Yes,"Spaarneweg, Kersenboogerd, Hoorn, North Hollan...",1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0
19626,281640,2,iPhone 13 mini,2022-03-20 09:47:22,52.652563,5.081242,Yes,"28, Lijster, Kersenboogerd, Hoorn, North Holla...",1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0

### 垃圾分类

In [6]:
# 垃圾分类
def sumc(x):# 定义合并类的函数
    count_sum = 0
    for k in x.iteritems():
        count_sum += k[1]
    return count_sum

In [7]:
df['SMOKING']=df.loc[:,'butts':'smokingOther'].apply(sumc,axis=1)
df['SMOKING'].sum()

1074.0

In [8]:
df=df.drop(df.loc[:,'butts':'smokingOther'],axis=1)

In [9]:
df['FOOD']=df.loc[:,'sweetWrappers':'chewing_gum'].apply(sumc,axis=1)
df['FOOD'].sum()

2579.0

In [10]:
df=df.drop(df.loc[:,'sweetWrappers':'chewing_gum'],axis=1)

In [11]:
df['COFFEE']=df.loc[:,'coffeeCups':'coffeeOther'].apply(sumc,axis=1)
df['COFFEE'].sum()

559.0

In [12]:
df=df.drop(df.loc[:,'coffeeCups':'coffeeOther'],axis=1)

In [13]:
df['ALCOHOL']=df.loc[:,'beerCan':'alcoholOther'].apply(sumc,axis=1)
df['ALCOHOL'].sum()

1276.0

In [14]:
df=df.drop(df.loc[:,'beerCan':'alcoholOther'],axis=1)

In [15]:
df['SOFTDRINKS']=df.loc[:,'waterBottle':'softDrinkOther'].apply(sumc,axis=1)
df['SOFTDRINKS'].sum()

6208.0

In [16]:
df=df.drop(df.loc[:,'waterBottle':'softDrinkOther'],axis=1)

In [17]:
df['SANITARY']=df.loc[:,'condoms':'hand_sanitiser'].apply(sumc,axis=1)
df['SANITARY'].sum()

997.0

In [18]:
df=df.drop(df.loc[:,'condoms':'hand_sanitiser'],axis=1)

In [19]:
df['COASTAL']=df.loc[:,'microplastics':'styro_large'].apply(sumc,axis=1)
df['COASTAL'].sum()

327.0

In [20]:
df=df.drop(df.loc[:,'microplastics':'styro_large'],axis=1)

In [21]:
df['DUMPING']=df.loc[:,'small':'large'].apply(sumc,axis=1)
df['DUMPING'].sum()

0.0

In [22]:
df=df.drop(df.loc[:,'small':'large'],axis=1)

In [23]:
df['INDUSTRIAL']=df.loc[:,'oil':'industrial_other'].apply(sumc,axis=1)
df['INDUSTRIAL'].sum()

0.0

In [24]:
df['BRANDS']=df.loc[:,'aadrink':'wrigleys'].apply(sumc,axis=1)
df['BRANDS'].sum()

4751.0

In [25]:
df=df.drop(df.loc[:,'aadrink':'wrigleys'],axis=1)

In [26]:
df=df.drop(df.loc[:,'oil':'industrial_other'],axis=1)

In [27]:
df['DOGSHIT']=df.loc[:,'poo':'poo_in_bag'].apply(sumc,axis=1)
df['DOGSHIT'].sum()

0.0

In [28]:
df=df.drop(df.loc[:,'poo':'poo_in_bag'],axis=1)

In [29]:
df['ART']=df.loc[:,'item']

In [30]:
df['ART'].sum()

0.0

In [31]:
df=df.drop('item',axis=1)

In [32]:
df['OTHER']=df.loc[:,'random_litter':'other'].apply(sumc,axis=1)
df['OTHER'].sum()

7309.0

In [33]:
df=df.drop(df.loc[:,'random_litter':'other'],axis=1)

In [34]:
df.columns

Index(['id', 'verification', 'phone', 'datetime', 'lat', 'lon', 'picked up',
       'address', 'total_litter', 'SMOKING', 'FOOD', 'COFFEE', 'ALCOHOL',
       'SOFTDRINKS', 'SANITARY', 'COASTAL', 'DUMPING', 'INDUSTRIAL', 'BRANDS',
       'DOGSHIT', 'ART', 'OTHER', 'custom_tag_1', 'custom_tag_2',
       'custom_tag_3'],
      dtype='object')

In [35]:
df=df.drop(df.loc[:,'custom_tag_1':'custom_tag_3'],axis=1)# 删除不需要的标签

In [36]:
df['OTHER']=df['OTHER']+df['ART']+df['DOGSHIT']+df['INDUSTRIAL']+df['DUMPING']

In [37]:
df['OTHER'].sum()

7309.0

In [38]:
df=df.drop(['ART','DOGSHIT','INDUSTRIAL','DUMPING'],axis=1)

In [39]:
df # 分类完毕

,id,verification,phone,datetime,lat,lon,picked up,address,total_litter,SMOKING,FOOD,COFFEE,ALCOHOL,SOFTDRINKS,SANITARY,COASTAL,BRANDS,OTHER
0,118956,2,iPhone 6,2021-02-03 14:05:54,52.651031,5.081417,Yes,"1, Stijl, Kersenboogerd, Hoorn, North Holland,...",2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,118957,2,iPhone 6,2021-02-03 13:54:23,52.649972,5.082583,Yes,"18, Amstelweg, Kersenboogerd, Hoorn, North Hol...",1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,118958,2,iPhone 6,2021-02-03 14:06:30,52.650917,5.081553,Yes,"2, Stijl, Kersenboogerd, Hoorn, North Holland,...",2.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
3,118959,2,iPhone 6,2021-02-03 14:02:00,52.651183,5.082656,Yes,"47, Stijl, Kersenboogerd, Hoorn, North Holland...",1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,118960,2,iPhone 6,2021-02-03 14:01:17,52.651181,5.082553,Yes,"29, Stijl, Kersenboogerd, Hoorn, North Holland...",1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19622,279325,2,iPhone 13 mini,2022-03-20 09:46:20,52.652412,5.081511,Yes,"43, Ekster, Kersenboogerd, Hoorn, North Hollan...",1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
19623,279326,2,iPhone 13 mini,2022-03-20 09:45:09,52.652428,5.080361,Yes,"74, Lijster, Kersenboogerd, Hoorn, North Holla...",1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
19624,281636,2,iPhone 13 mini,2022-03-20 10:00:23,52.654053,5.079644,Yes,"Spaarneweg, Kersenboogerd, Hoorn, North Hollan...",1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
19625,281638,2,iPhone 13 mini,2022-03-20 09:59:52,52.654020,5.079669,Yes,"Spaarneweg, Kersenboogerd, Hoorn, North Hollan...",1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
19626,281640,2,iPhone 13 mini,2022-03-20 09:47:22,52.652563,5.081242,Yes,"28, Lijster, Kersenboogerd, Hoorn, North Holla...",1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [40]:
df=df[-df['datetime'].str.contains('2020')].reset_index(drop=True) # 删除2020年的零散数据

In [41]:
df

,id,verification,phone,datetime,lat,lon,picked up,address,total_litter,SMOKING,FOOD,COFFEE,ALCOHOL,SOFTDRINKS,SANITARY,COASTAL,BRANDS,OTHER
0,118956,2,iPhone 6,2021-02-03 14:05:54,52.651031,5.081417,Yes,"1, Stijl, Kersenboogerd, Hoorn, North Holland,...",2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,118957,2,iPhone 6,2021-02-03 13:54:23,52.649972,5.082583,Yes,"18, Amstelweg, Kersenboogerd, Hoorn, North Hol...",1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,118958,2,iPhone 6,2021-02-03 14:06:30,52.650917,5.081553,Yes,"2, Stijl, Kersenboogerd, Hoorn, North Holland,...",2.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
3,118959,2,iPhone 6,2021-02-03 14:02:00,52.651183,5.082656,Yes,"47, Stijl, Kersenboogerd, Hoorn, North Holland...",1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,118960,2,iPhone 6,2021-02-03 14:01:17,52.651181,5.082553,Yes,"29, Stijl, Kersenboogerd, Hoorn, North Holland...",1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19607,279325,2,iPhone 13 mini,2022-03-20 09:46:20,52.652412,5.081511,Yes,"43, Ekster, Kersenboogerd, Hoorn, North Hollan...",1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
19608,279326,2,iPhone 13 mini,2022-03-20 09:45:09,52.652428,5.080361,Yes,"74, Lijster, Kersenboogerd, Hoorn, North Holla...",1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
19609,281636,2,iPhone 13 mini,2022-03-20 10:00:23,52.654053,5.079644,Yes,"Spaarneweg, Kersenboogerd, Hoorn, North Hollan...",1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
19610,281638,2,iPhone 13 mini,2022-03-20 09:59:52,52.654020,5.079669,Yes,"Spaarneweg, Kersenboogerd, Hoorn, North Hollan...",1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
19611,281640,2,iPhone 13 mini,2022-03-20 09:47:22,52.652563,5.081242,Yes,"28, Lijster, Kersenboogerd, Hoorn, North Holla...",1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [ ]:
# df.to_csv('./outdata/Hoorn_litter.csv')

### 合并时间

In [46]:
df['datetime']=pd.to_datetime(df['datetime'])

In [47]:
Date=df['datetime'].dt.date
df_dateconcat=df.loc[:,'total_litter':'OTHER'].groupby(Date).sum() # 合并同日期的垃圾数量
df_dateconcat

,total_litter,SMOKING,FOOD,COFFEE,ALCOHOL,SOFTDRINKS,SANITARY,COASTAL,BRANDS,OTHER
datetime,,,,,,,,,,
2021-01-06,3.0,0.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2021-01-07,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2021-01-08,114.0,2.0,13.0,6.0,3.0,34.0,9.0,0.0,25.0,32.0
2021-01-09,58.0,3.0,11.0,1.0,0.0,12.0,3.0,0.0,11.0,21.0
2021-01-10,49.0,2.0,2.0,0.0,8.0,20.0,0.0,0.0,18.0,9.0
...,...,...,...,...,...,...,...,...,...,...
2021-12-19,92.0,19.0,10.0,1.0,5.0,28.0,7.0,0.0,28.0,22.0
2021-12-20,232.0,5.0,22.0,7.0,7.0,60.0,17.0,0.0,50.0,114.0
2021-12-21,14.0,1.0,4.0,0.0,0.0,7.0,0.0,0.0,5.0,2.0
2022-01-20,5.0,0.0,1.0,0.0,1.0,3.0,0.0,0.0,2.0,0.0
2022-03-20,27.0,1.0,3.0,0.0,8.0,11.0,2.0,0.0,7.0,2.0

In [48]:
df_dateconcat.max()

total_litter    350.0
SMOKING          86.0
FOOD             43.0
COFFEE           15.0
ALCOHOL          34.0
SOFTDRINKS       82.0
SANITARY         25.0
COASTAL          38.0
BRANDS           68.0
OTHER           190.0
dtype: float64

### 对缺失的日期补0

In [49]:
start = datetime.datetime(2021, 1, 1)
end = datetime.datetime(2022, 4, 1)
date_range = pd.date_range(start, end)

In [50]:
date_range

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10',
               ...
               '2022-03-23', '2022-03-24', '2022-03-25', '2022-03-26',
               '2022-03-27', '2022-03-28', '2022-03-29', '2022-03-30',
               '2022-03-31', '2022-04-01'],
              dtype='datetime64[ns]', length=456, freq='D')

In [51]:
# 筛选缺失的日期
df_date=pd.to_datetime(df_dateconcat.index) 
dateflag=date_range.isin(df_date)

In [52]:
# date_all=np.concatenate((pd.Series(df_dateconcat.index).values,pd.Series(date_range[~dateflag].date).values),axis=0)# 合并两个时间
# date_all.size
# date_all与date_range相同，弃用data_all

In [53]:
np.zeros(228*9).reshape(228,9).shape

(228, 9)

In [54]:
# 缺失的数据
dfdif=pd.DataFrame(np.zeros(228*9).reshape(228,9),
                   index=[pd.Series(date_range[~dateflag].date).values],
                   columns=['total_litter','SMOKING','FOOD','COFFEE','ALCOHOL','SOFTDRINKS','SANITARY','COASTAL','OTHER'])

In [55]:
df_dateall=pd.concat([df_dateconcat,dfdif])# 合并

In [56]:
df_dateall=df_dateall.loc[:,'total_litter':'OTHER'].groupby(date_range).sum()

In [57]:
df_dateall

,total_litter,SMOKING,FOOD,COFFEE,ALCOHOL,SOFTDRINKS,SANITARY,COASTAL,BRANDS,OTHER
2021-01-01,3.0,0.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2021-01-02,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2021-01-03,114.0,2.0,13.0,6.0,3.0,34.0,9.0,0.0,25.0,32.0
2021-01-04,58.0,3.0,11.0,1.0,0.0,12.0,3.0,0.0,11.0,21.0
2021-01-05,49.0,2.0,2.0,0.0,8.0,20.0,0.0,0.0,18.0,9.0
...,...,...,...,...,...,...,...,...,...,...
2022-03-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-03-29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-03-30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-03-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-04-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [58]:
df_dateall.max()

total_litter    350.0
SMOKING          86.0
FOOD             43.0
COFFEE           15.0
ALCOHOL          34.0
SOFTDRINKS       82.0
SANITARY         25.0
COASTAL          38.0
BRANDS           68.0
OTHER           190.0
dtype: float64

### 将垃圾数据按天划分

In [59]:
df.datetime

0       2021-02-03 14:05:54
1       2021-02-03 13:54:23
2       2021-02-03 14:06:30
3       2021-02-03 14:02:00
4       2021-02-03 14:01:17
                ...
19607   2022-03-20 09:46:20
19608   2022-03-20 09:45:09
19609   2022-03-20 10:00:23
19610   2022-03-20 09:59:52
19611   2022-03-20 09:47:22
Name: datetime, Length: 19612, dtype: datetime64[ns]

In [60]:
df=df.set_index('datetime').sort_index()

In [61]:
df.to_csv('./outdata/Hoorn_litter_sorted')

In [62]:
result = [group[1] for group in df.groupby(df.index.date)]# 将结果按天分组并只打印键值对的值

In [63]:
result[1]

,id,verification,phone,lat,lon,picked up,address,total_litter,SMOKING,FOOD,COFFEE,ALCOHOL,SOFTDRINKS,SANITARY,COASTAL,BRANDS,OTHER
datetime,,,,,,,,,,,,,,,,,
2021-01-07 09:24:45,131285,2,iPhone 6,52.653561,5.085186,Yes,"22, Bolwerk, Kersenboogerd, Hoorn, North Holla...",2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

## 天气时间数据处理

In [64]:
weather = pd.read_csv('../data/Hoorn/Hoorn_Weather.csv')

In [65]:
weather['date']=pd.to_datetime(weather['date'])

In [66]:
weather['weather'].value_counts()

Sunny      212
Cloudy     112
Showers     98
Foggy       30
Snow         4
Name: weather, dtype: int64

In [67]:
wtcdt=pd.read_csv('../data/Hoorn/EHAM.csv')

In [68]:
wtcdt['date']=pd.to_datetime(wtcdt['date'])

In [69]:
wtcdt = pd.DataFrame(wtcdt).set_index('date') # 将时间作为索引

In [70]:
wtcdt

,Actual Mean Temperature,Actual Min Temperature,Actual Max Temperature,Average Min Temperature,Average Max Temperature,Actual Max Wind Speed,Actual Dew Point,Actual High Dew Point,Actual Low Dew Point,Actual Sea Level Pressure
date,,,,,,,,,,
2021-01-01,35.67,30,43,30,40,8,34.09,39,28,29.84
2021-01-02,36.71,34,39,31,40,8,36.27,39,32,29.96
2021-01-03,38.61,37,39,31,40,16,34.67,37,32,30.08
2021-01-04,38.00,37,39,31,40,22,33.87,36,30,30.11
2021-01-05,37.33,36,39,31,40,16,34.52,36,32,30.11
...,...,...,...,...,...,...,...,...,...,...
2022-03-28,47.94,41,59,35,51,9,42.79,45,41,30.37
2022-03-29,47.42,43,55,35,51,13,40.79,43,39,30.08
2022-03-30,43.79,37,48,36,51,16,36.26,39,32,29.81
2022-03-31,36.29,32,39,36,51,26,34.13,37,32,29.66
2022-04-01,37.02,32,41,36,52,30,28.08,32,23,30.02

### 将天气状况加入补全后数据

In [71]:
M_test=pd.concat([df_dateall,wtcdt],axis=1)# 横向合并

In [72]:
M_test

,total_litter,SMOKING,FOOD,COFFEE,ALCOHOL,SOFTDRINKS,SANITARY,COASTAL,BRANDS,OTHER,Actual Mean Temperature,Actual Min Temperature,Actual Max Temperature,Average Min Temperature,Average Max Temperature,Actual Max Wind Speed,Actual Dew Point,Actual High Dew Point,Actual Low Dew Point,Actual Sea Level Pressure
2021-01-01,3.0,0.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,35.67,30,43,30,40,8,34.09,39,28,29.84
2021-01-02,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,36.71,34,39,31,40,8,36.27,39,32,29.96
2021-01-03,114.0,2.0,13.0,6.0,3.0,34.0,9.0,0.0,25.0,32.0,38.61,37,39,31,40,16,34.67,37,32,30.08
2021-01-04,58.0,3.0,11.0,1.0,0.0,12.0,3.0,0.0,11.0,21.0,38.00,37,39,31,40,22,33.87,36,30,30.11
2021-01-05,49.0,2.0,2.0,0.0,8.0,20.0,0.0,0.0,18.0,9.0,37.33,36,39,31,40,16,34.52,36,32,30.11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-03-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,47.94,41,59,35,51,9,42.79,45,41,30.37
2022-03-29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,47.42,43,55,35,51,13,40.79,43,39,30.08
2022-03-30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,43.79,37,48,36,51,16,36.26,39,32,29.81
2022-03-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,36.29,32,39,36,51,26,34.13,37,32,29.66
2022-04-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,37.02,32,41,36,52,30,28.08,32,23,30.02

### 将天气状况加入未补全数据

In [73]:
# 匹配时间
df_dateconcat.index

Index([2021-01-06, 2021-01-07, 2021-01-08, 2021-01-09, 2021-01-10, 2021-01-11,
       2021-01-12, 2021-01-13, 2021-01-14, 2021-01-31,
       ...
       2021-12-13, 2021-12-15, 2021-12-16, 2021-12-17, 2021-12-18, 2021-12-19,
       2021-12-20, 2021-12-21, 2022-01-20, 2022-03-20],
      dtype='object', name='datetime', length=228)

In [74]:
isindex1=wtcdt.index.isin(df_dateconcat.index)

In [75]:
wtcdt[isindex1]

,Actual Mean Temperature,Actual Min Temperature,Actual Max Temperature,Average Min Temperature,Average Max Temperature,Actual Max Wind Speed,Actual Dew Point,Actual High Dew Point,Actual Low Dew Point,Actual Sea Level Pressure
date,,,,,,,,,,
2021-01-06,36.59,34,39,31,40,15,32.61,36,32,30.08
2021-01-07,37.54,34,41,31,40,16,35.33,37,32,29.96
2021-01-08,35.96,30,41,31,40,7,34.09,36,30,30.13
2021-01-09,32.43,25,43,31,40,8,29.57,37,25,30.28
2021-01-10,36.24,28,41,31,40,12,33.07,37,27,30.28
...,...,...,...,...,...,...,...,...,...,...
2021-12-19,45.07,43,46,33,42,12,43.57,45,41,30.64
2021-12-20,41.63,32,45,33,42,7,35.17,39,30,30.40
2021-12-21,31.80,27,43,33,42,5,28.54,32,27,30.37
2022-01-20,39.59,36,43,31,40,30,32.93,37,28,30.52
2022-03-20,41.48,36,48,34,49,20,32.07,36,27,30.58

In [76]:
isindex2=weather['date'].isin(df_dateconcat.index)

In [77]:
isindex2.value_counts()

False    228
True     228
Name: date, dtype: int64

In [78]:
wtdf = pd.DataFrame(weather[isindex2]).set_index('date')

In [79]:
M=pd.concat([df_dateconcat,wtdf,wtcdt[isindex1]],axis=1)# 横向合并

In [80]:
M

,total_litter,SMOKING,FOOD,COFFEE,ALCOHOL,SOFTDRINKS,SANITARY,COASTAL,BRANDS,OTHER,...,Actual Mean Temperature,Actual Min Temperature,Actual Max Temperature,Average Min Temperature,Average Max Temperature,Actual Max Wind Speed,Actual Dew Point,Actual High Dew Point,Actual Low Dew Point,Actual Sea Level Pressure
2021-01-06,3.0,0.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,36.59,34,39,31,40,15,32.61,36,32,30.08
2021-01-07,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,37.54,34,41,31,40,16,35.33,37,32,29.96
2021-01-08,114.0,2.0,13.0,6.0,3.0,34.0,9.0,0.0,25.0,32.0,...,35.96,30,41,31,40,7,34.09,36,30,30.13
2021-01-09,58.0,3.0,11.0,1.0,0.0,12.0,3.0,0.0,11.0,21.0,...,32.43,25,43,31,40,8,29.57,37,25,30.28
2021-01-10,49.0,2.0,2.0,0.0,8.0,20.0,0.0,0.0,18.0,9.0,...,36.24,28,41,31,40,12,33.07,37,27,30.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-19,92.0,19.0,10.0,1.0,5.0,28.0,7.0,0.0,28.0,22.0,...,45.07,43,46,33,42,12,43.57,45,41,30.64
2021-12-20,232.0,5.0,22.0,7.0,7.0,60.0,17.0,0.0,50.0,114.0,...,41.63,32,45,33,42,7,35.17,39,30,30.40
2021-12-21,14.0,1.0,4.0,0.0,0.0,7.0,0.0,0.0,5.0,2.0,...,31.80,27,43,33,42,5,28.54,32,27,30.37
2022-01-20,5.0,0.0,1.0,0.0,1.0,3.0,0.0,0.0,2.0,0.0,...,39.59,36,43,31,40,30,32.93,37,28,30.52
2022-03-20,27.0,1.0,3.0,0.0,8.0,11.0,2.0,0.0,7.0,2.0,...,41.48,36,48,34,49,20,32.07,36,27,30.58

In [81]:
M_train=M.drop(M.loc[:,'SMOKING':'OTHER'],axis=1)# 舍弃分类

In [82]:
M_train

,total_litter,weather,Actual Mean Temperature,Actual Min Temperature,Actual Max Temperature,Average Min Temperature,Average Max Temperature,Actual Max Wind Speed,Actual Dew Point,Actual High Dew Point,Actual Low Dew Point,Actual Sea Level Pressure
2021-01-06,3.0,Sunny,36.59,34,39,31,40,15,32.61,36,32,30.08
2021-01-07,2.0,Showers,37.54,34,41,31,40,16,35.33,37,32,29.96
2021-01-08,114.0,Showers,35.96,30,41,31,40,7,34.09,36,30,30.13
2021-01-09,58.0,Foggy,32.43,25,43,31,40,8,29.57,37,25,30.28
2021-01-10,49.0,Cloudy,36.24,28,41,31,40,12,33.07,37,27,30.28
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-19,92.0,Showers,45.07,43,46,33,42,12,43.57,45,41,30.64
2021-12-20,232.0,Cloudy,41.63,32,45,33,42,7,35.17,39,30,30.40
2021-12-21,14.0,Sunny,31.80,27,43,33,42,5,28.54,32,27,30.37
2022-01-20,5.0,Cloudy,39.59,36,43,31,40,30,32.93,37,28,30.52
2022-03-20,27.0,Sunny,41.48,36,48,34,49,20,32.07,36,27,30.58

### 对天气描述编码

In [83]:
wtdf

            weather
date
2021-01-06    Sunny
2021-01-07  Showers
2021-01-08  Showers
2021-01-09    Foggy
2021-01-10   Cloudy
...             ...
2021-12-19  Showers
2021-12-20   Cloudy
2021-12-21    Sunny
2022-01-20   Cloudy
2022-03-20    Sunny

[228 rows x 1 columns]

In [84]:
values_wt=wtdf['weather']

In [85]:
# 整数编码
label_encoder_wt = LabelEncoder()
integer_encoded_wt = label_encoder_wt.fit_transform(values_wt)
integer_encoded_wt

array([3, 2, 2, 1, 0, 0, 2, 3, 3, 3, 2, 2, 3, 3, 0, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 1, 1, 1, 1, 3, 0, 3, 0, 2, 3, 0, 2, 0, 0, 0, 0, 3, 3, 3, 3,
       3, 3, 0, 3, 0, 0, 3, 0, 3, 3, 3, 3, 3, 3, 3, 0, 0, 3, 3, 3, 0, 0,
       3, 2, 3, 0, 3, 3, 3, 3, 3, 3, 0, 2, 3, 3, 3, 3, 3, 3, 3, 3, 0, 3,
       3, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 0, 3, 0, 0, 3, 0, 3, 3, 3, 2, 0,
       3, 3, 3, 3, 3, 3, 3, 3, 0, 0, 0, 3, 3, 3, 3, 3, 3, 3, 0, 2, 3, 3,
       3, 3, 0, 2, 0, 3, 3, 1, 0, 2, 3, 2, 0, 0, 0, 3, 3, 3, 3, 3, 3, 3,
       3, 0, 3, 3, 3, 3, 0, 3, 0, 3, 3, 3, 2, 0, 2, 2, 2, 3, 3, 0, 1, 3,
       1, 3, 2, 3, 0, 3, 0, 3, 3, 0, 3, 3, 0, 3, 3, 3, 2, 1, 1, 0, 0, 0,
       0, 1, 2, 0, 1, 3, 0, 2, 3, 0, 2, 2, 2, 1, 1, 2, 3, 2, 3, 2, 0, 0,
       1, 2, 1, 2, 0, 3, 0, 3])

In [86]:
# 二进制编码
wt_encoded = OneHotEncoder(sparse=False)
integer_encoded_wt = integer_encoded_wt.reshape(len(integer_encoded_wt), 1)
wt_encoded = wt_encoded.fit_transform(integer_encoded_wt)
wt_encoded.shape

(228, 4)

In [87]:
# 第一个例子的反转
inverted_wt = label_encoder_wt.inverse_transform([argmax(wt_encoded[0, :])])
inverted_wt

array(['Sunny'], dtype=object)

## poi处理

In [88]:
points=gpd.read_file('../data/Hoorn/shape_large/points.shp')

In [89]:
public=points['type'].isin(['post_box', 'pub',  'school', 'social_facility','charging_station','childcare','arts_centre',

'community_centre','kindergarten','library',  'elevator','fire_station','post_depot', 

 'social_centre', 'marketplace','police', 'theatre','yard','music_school','townhall'])

In [90]:
poi_public=points['type'][public].value_counts()

In [91]:
poi_public=poi_public.values.sum()

In [92]:
poi_public

127

In [93]:
points['type'][public]='public'

In [94]:
health=points['type'].isin(['dentist','doctors','pharmacy', 'veterinary','hospital', 'clinic'])

In [95]:
poi_health=points['type'][health].value_counts()

In [96]:
poi_health=poi_health.values.sum()

In [97]:
points['type'][health]='health'

In [98]:
leisure=points['type'].isin(['cafe', 'cinema','casino'])

In [99]:
poi_leisure=points['type'][leisure].value_counts()

In [100]:
poi_leisure=poi_leisure.values.sum()

In [101]:
poi_leisure

14

In [102]:
points['type'][leisure]='leisure'

In [103]:
catering=points['type'].isin([ 'restaurant','fast_food'])

In [104]:
poi_catering=points['type'][catering].value_counts()

In [105]:
poi_catering=poi_catering.values.sum()

In [106]:
poi_catering

107

In [107]:
points['type'][catering]='catering'

In [108]:
accommodation=points['type'].isin(['hotel','shelter','caravan_site'])

In [109]:
poi_accommodation=points['type'][accommodation].value_counts()

In [110]:
poi_accommodation=poi_accommodation.values.sum()

In [111]:
poi_accommodation

15

In [112]:
points['type'][accommodation]='accommodation'

In [113]:
shopping=points['type'].isin(['car_wash','vending_machine', 'car_sharing','ice_cream','parking', 'shower','bicycle_repair_s', 'car_rental','taxi'])

In [114]:
poi_shopping=points['type'][shopping].value_counts()

In [115]:
poi_shopping=poi_shopping.values.sum()

In [116]:
poi_shopping

29

In [117]:
points['type'][shopping]='shopping'

In [118]:
money=points['type'].isin(['atm','bank'])

In [119]:
poi_money=points['type'][money].value_counts()

In [120]:
poi_money=poi_money.values.sum()

In [121]:
poi_money

15

In [122]:
points['type'][money]='money'

In [123]:
tourism=points['type'].isin(['artwork', 'memorial', 'gallery','museum','attraction', 'cannon',  'archaeological_s',  'viewpoint', 'picnic_site'])

In [124]:
poi_tourism=points['type'][tourism].value_counts()

In [125]:
poi_tourism=poi_tourism.values.sum()

In [126]:
poi_tourism

140

In [127]:
points['type'][tourism]='tourism'

In [128]:
miscpoi=points['type'].isin(['bench','waste_basket','tower','toilets','surveillance','works','drinking_water', 'windmill','fountain', 'water_well'])

In [129]:
poi_miscpoi=points['type'][miscpoi].value_counts()

In [130]:
poi_miscpoi=poi_miscpoi.values.sum()

In [131]:
poi_miscpoi

1131

In [132]:
points['type'][miscpoi]='miscpoi'

In [133]:
other=points['type'].isin(['construction','give_way','clock','street_cabinet', 'studio', 'place_of_worship',  'crane',  'communications_t','flagpole', 'chimney', 'lighthouse','tram_stop', 'yes'])

In [134]:
poi_other=points['type'][other].value_counts()

In [135]:
poi_other=poi_other.values.sum()

In [136]:
poi_other

19

In [137]:
points['type'][other]='other'

In [138]:
traffic=points['type'].isin(['mast','bicycle_parking','crossing', 'recycling', 'traffic_signals', 'signal','switch', 'level_crossing','motorway_junctio','ferry_terminal','turning_circle', 'buffer_stop', 'street_lamp','fuel', 'parking_entrance', 'stop', 'station','milestone','mini_roundabout',  'railway_crossing','junction'])

In [139]:
poi_traffic=points['type'][traffic].value_counts()

In [140]:
poi_traffic=poi_traffic.values.sum()

In [141]:
poi_traffic

620

In [142]:
points['type'][traffic]='traffic'

In [146]:
len(points['type'].value_counts())

13

In [148]:
points[:-2]

,osm_id,timestamp,name,type,geometry
0,34050780,None,Museum van de Twintigste Eeuw,tourism,POINT (5.06242 52.63508)
1,47051205,None,Avenhorn,traffic,POINT (5.00851 52.63502)
2,47056631,None,None,traffic,POINT (5.05786 52.63695)
3,47060139,None,None,traffic,POINT (5.05724 52.63817)
4,47069901,None,None,traffic,POINT (5.05239 52.64179)
...,...,...,...,...,...
2395,804881163,None,None,traffic,POINT (5.04714 52.64798)
2396,804881164,None,None,traffic,POINT (5.04729 52.64775)
2397,804881165,None,None,traffic,POINT (5.04726 52.64767)
2398,804881166,None,None,traffic,POINT (5.04692 52.64760)
2399,804881167,None,None,traffic,POINT (5.04659 52.64766)

In [149]:
points[:-2].to_file('./outdata/poi_all/points.shp')

In [145]:
poi=pd.DataFrame(np.array([poi_public,poi_health,poi_leisure,poi_catering,poi_accommodation,poi_shopping,poi_money,poi_tourism,poi_miscpoi,poi_traffic,poi_other]).reshape(1,11),
                 columns=['poi_public','poi_health','poi_leisure','poi_catering','poi_accommodation','poi_shopping','poi_money','poi_tourism','poi_miscpoi','poi_traffic','poi_other'],
                 index=['counter']
                )

In [146]:
poi

,poi_public,poi_health,poi_leisure,poi_catering,poi_accommodation,poi_shopping,poi_money,poi_tourism,poi_miscpoi,poi_traffic,poi_other
counter,127,37,14,107,15,29,15,140,1131,620,19

In [147]:
# poi_other=poi_other+poi_money+poi_shopping+poi_accommodation+poi_health+poi_leisure

In [148]:
# poi['poi_other']=poi_other

In [149]:
# poi=poi.drop(['poi_health','poi_leisure','poi_accommodation','poi_shopping','poi_money'],axis=1)

In [150]:
# poi

In [151]:
poi_array=np.array(poi)

In [152]:
poi_array=np.tile(poi,(228,1))

In [153]:
poi_array

array([[ 127,   37,   14, ..., 1131,  620,   19],
       [ 127,   37,   14, ..., 1131,  620,   19],
       [ 127,   37,   14, ..., 1131,  620,   19],
       ...,
       [ 127,   37,   14, ..., 1131,  620,   19],
       [ 127,   37,   14, ..., 1131,  620,   19],
       [ 127,   37,   14, ..., 1131,  620,   19]])

In [154]:
poi_df=pd.DataFrame(poi_array,columns=poi.columns,index=M_train.index)

In [155]:
poi_df

,poi_public,poi_health,poi_leisure,poi_catering,poi_accommodation,poi_shopping,poi_money,poi_tourism,poi_miscpoi,poi_traffic,poi_other
2021-01-06,127,37,14,107,15,29,15,140,1131,620,19
2021-01-07,127,37,14,107,15,29,15,140,1131,620,19
2021-01-08,127,37,14,107,15,29,15,140,1131,620,19
2021-01-09,127,37,14,107,15,29,15,140,1131,620,19
2021-01-10,127,37,14,107,15,29,15,140,1131,620,19
...,...,...,...,...,...,...,...,...,...,...,...
2021-12-19,127,37,14,107,15,29,15,140,1131,620,19
2021-12-20,127,37,14,107,15,29,15,140,1131,620,19
2021-12-21,127,37,14,107,15,29,15,140,1131,620,19
2022-01-20,127,37,14,107,15,29,15,140,1131,620,19
2022-03-20,127,37,14,107,15,29,15,140,1131,620,19

In [156]:
M_train=pd.concat([M_train,poi_df],axis=1)

In [157]:
M_train

,total_litter,weather,Actual Mean Temperature,Actual Min Temperature,Actual Max Temperature,Average Min Temperature,Average Max Temperature,Actual Max Wind Speed,Actual Dew Point,Actual High Dew Point,...,poi_health,poi_leisure,poi_catering,poi_accommodation,poi_shopping,poi_money,poi_tourism,poi_miscpoi,poi_traffic,poi_other
2021-01-06,3.0,Sunny,36.59,34,39,31,40,15,32.61,36,...,37,14,107,15,29,15,140,1131,620,19
2021-01-07,2.0,Showers,37.54,34,41,31,40,16,35.33,37,...,37,14,107,15,29,15,140,1131,620,19
2021-01-08,114.0,Showers,35.96,30,41,31,40,7,34.09,36,...,37,14,107,15,29,15,140,1131,620,19
2021-01-09,58.0,Foggy,32.43,25,43,31,40,8,29.57,37,...,37,14,107,15,29,15,140,1131,620,19
2021-01-10,49.0,Cloudy,36.24,28,41,31,40,12,33.07,37,...,37,14,107,15,29,15,140,1131,620,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-19,92.0,Showers,45.07,43,46,33,42,12,43.57,45,...,37,14,107,15,29,15,140,1131,620,19
2021-12-20,232.0,Cloudy,41.63,32,45,33,42,7,35.17,39,...,37,14,107,15,29,15,140,1131,620,19
2021-12-21,14.0,Sunny,31.80,27,43,33,42,5,28.54,32,...,37,14,107,15,29,15,140,1131,620,19
2022-01-20,5.0,Cloudy,39.59,36,43,31,40,30,32.93,37,...,37,14,107,15,29,15,140,1131,620,19
2022-03-20,27.0,Sunny,41.48,36,48,34,49,20,32.07,36,...,37,14,107,15,29,15,140,1131,620,19

In [158]:
M_train.columns

Index(['total_litter', 'weather', 'Actual Mean Temperature',
       'Actual Min Temperature', 'Actual Max Temperature',
       'Average Min Temperature', 'Average Max Temperature',
       'Actual Max Wind Speed', 'Actual Dew Point', 'Actual High Dew Point',
       'Actual Low Dew Point', 'Actual Sea Level Pressure', 'poi_public',
       'poi_health', 'poi_leisure', 'poi_catering', 'poi_accommodation',
       'poi_shopping', 'poi_money', 'poi_tourism', 'poi_miscpoi',
       'poi_traffic', 'poi_other'],
      dtype='object')

## 将数值型数据一同归一化

In [159]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [160]:
M_train.loc[:,'Actual Mean Temperature':'poi_other'].values.reshape(-1,1)

array([[  36.59],
       [  34.  ],
       [  39.  ],
       ...,
       [1131.  ],
       [ 620.  ],
       [  19.  ]])

In [161]:
mm = MinMaxScaler()
mm_data = mm.fit_transform(M_train.loc[:,'Actual Mean Temperature':'poi_other'].values.reshape(-1, 1))

In [162]:
mm_wp=mm_data.reshape(228,21)

In [163]:
Counter(mm_wp.flatten())

Counter({0.03235190097259063: 1,
         0.030061892130857647: 37,
         0.034482758620689655: 43,
         0.027409372236958444: 22,
         0.03536693191865606: 19,
         0.01326259946949602: 484,
         0.02883289124668435: 1,
         0.03183023872679045: 48,
         0.028293545534924844: 35,
         0.02659593280282935: 12,
         0.11229000884173297: 228,
         0.03271441202475685: 269,
         0.012378426171529618: 253,
         0.09460654288240494: 228,
         0.02564102564102564: 229,
         0.12378426171529619: 228,
         1.0: 228,
         0.5481874447391688: 228,
         0.016799292661361626: 229,
         0.033191865605658705: 1,
         0.036251105216622455: 46,
         0.014146772767462422: 26,
         0.03123784261715296: 1,
         0.026489832007073385: 12,
         0.031794871794871796: 1,
         0.02652519893899204: 12,
         0.006189213085764809: 5,
         0.030141467727674627: 1,
         0.02664014146772767: 16,
         0.028673740053050397: 1,
         0.022104332449160033: 8,
         0.03801945181255526: 60,
         0.007073386383731211: 5,
         0.02614500442086649: 3,
         0.026772767462422634: 15,
         0.03204244031830239: 1,
         0.024756852343059237: 17,
         0.010610079575596816: 21,
         0.029239610963748892: 1,
         0.023872679045092837: 9,
         0.03751547303271441: 1,
         0.040671971706454466: 59,
         0.021220159151193633: 6,
         0.033519009725906275: 2,
         0.0374447391688771: 1,
         0.03330680813439434: 1,
         0.03978779840848806: 58,
         0.026516357206012375: 9,
         0.03563218390804597: 1,
         0.01856763925729443: 12,
         0.030256410256410255: 1,
         0.026542882404951368: 4,
         0.0317683465959328: 1,
         0.02575596816976127: 1,
         0.026719717064544648: 8,
         0.02685234305923961: 11,
         0.021724137931034483: 1,
         0.020335985853227233: 4,
         0.026251105216622456: 2,
         0.0413262599469496: 2,
         0.044208664898320066: 74,
         0.01768346595932803: 12,
         0.039964633068081346: 1,
         0.038868258178603: 1,
         0.042440318302387266: 67,
         0.037170645446507514: 2,
         0.02641025641025641: 8,
         0.020371352785145888: 1,
         0.007957559681697613: 14,
         0.01465075154730327: 1,
         0.026958443854995576: 5,
         0.03882404951370468: 3,
         0.03713527851458886: 23,
         0.015030946065428824: 12,
         0.035614500442086645: 1,
         0.04222811671087533: 1,
         0.04597701149425287: 69,
         0.0390185676392573: 3,
         0.04181255526083112: 1,
         0.03666666666666667: 1,
         0.02646330680813439: 5,
         0.03869142351900972: 1,
         0.015915119363395226: 14,
         0.03451812555260831: 1,
         0.04699381078691423: 1,
         0.053934571175950484: 45,
         0.039381078691423516: 2,
         0.04589743589743589: 1,
         0.038443854995579126: 1,
         0.04628647214854111: 1,
         0.036675508399646325: 3,
         0.04784261715296198: 1,
         0.04149425287356322: 1,
         0.04951370468611847: 5,
         0.05658709106984969: 22,
         0.04084880636604775: 2,
         0.026825817860300617: 7,
         0.044535809018567636: 1,
         0.052166224580017684: 51,
         0.03890362511052166: 13,
         0.039690539345711755: 1,
         0.026905393457117593: 7,
         0.037904509283819623: 2,
         0.03381078691423519: 1,
         0.027117595048629532: 1,
         0.03628647214854111: 1,
         0.033465959328028295: 1,
         0.02719717064544651: 3,
         0.03438549955791335: 1,
         0.031538461538461536: 1,
         0.027170645446507515: 2,
         0.03740053050397878: 2,
         0.03335101679929266: 1,
         0.027038019451812553: 2,
         0.035137046861184795: 1,
         0.029177718832891244: 18,
         0.030795755968169757: 1,
         0.02674624226348364: 10,
         0.03359858532272325: 9,
         0.011494252873563218: 21,
         0.02458001768346596: 1,
         0.027011494252873563: 1,
         0.032210433244916: 1,
         0.008841732979664015: 13,
         0.025605658709106985: 1,
         0.035888594164456236: 1,
         0.030212201591511938: 1,
         0.037709991158267016: 1,
         0.034058355437665784: 1,
         0.026622458001768344: 10,
         0.03702033598585322: 1,
         0.04155614500442086: 12,
         0.03284703801945181: 1,
         0.039354553492484526: 1,
         0.03395225464190981: 1,
         0.026224580017683463: 1,
         0.03903625110521662: 1,
         0.03350132625994695: 1,
         0.03736516357206012: 1,
         0.0341025641025641: 1,
         0.0371971706454465: 2,
         0.032979664014146766: 1,
         0.0268788682581786: 10,
         0.03579133510167992: 1,
         0.0327497789566755: 1,
         0.030946065428824047: 10,
         0.04332449160035367: 17,
         0.032484526967285585: 1,
         0.0384261715296198: 1,
         0.03402298850574712: 1,
         0.03982316534040672: 2,
         0.04862953138815208: 47,
         0.033828470380194514: 1,
         0.041405835543766575: 2,
         0.04774535809018567: 73,
         0.03463306808134394: 1,
         0.044111405835543765: 1,
         0.05039787798408488: 50,
         0.035596816976127314: 1,
         0.04735632183908046: 2,
         0.04509283819628647: 19,
         0.03658709106984969: 1,
         0.04805481874447391: 2,
         0.061892130857648095: 25,
         0.034465075154730324: 1,
         0.026931918656056587: 2,
         0.05095490716180371: 1,
         0.0645446507515473: 12,
         0.03595932802829355: 1,
         0.03941644562334217: 2,
         0.03046861184792219: 1,
         0.03694960212201591: 1,
         0.04686118479221927: 20,
         0.02676392572944297: 1,
         0.026693191865605658: 15,
         0.035145888594164454: 1,
         0.02870026525198939: 1,
         0.026666666666666665: 7,
         0.03365163572060124: 1,
         0.035879752431476564: 1,
         0.026507515473032713: 1,
         0.02698496905393457: 2,
         0.03573828470380194: 1,
         0.028187444739168874: 1,
         0.036657824933687: 1,
         0.027922192749778953: 1,
         0.028885941644562336: 1,
         0.03936339522546419: 1,
         0.030486295313881518: 1,
         0.041264367816091954: 1,
         0.0346684350132626: 1,
         0.04315649867374005: 1,
         0.04671087533156498: 1,
         0.055702917771883284: 37,
         0.037966401414677275: 1,
         0.0385499557913351: 1,
         0.029071618037135278: 1,
         0.041025641025641026: 1,
         0.031865605658709106: 1,
         0.02951370468611848: 1,
         0.03932802829354553: 1,
         0.05128205128205128: 7,
         0.028647214854111404: 1,
         0.026799292661361624: 7,
         0.028143236074270554: 1,
         0.044960212201591514: 1,
         0.030194518125552607: 1,
         0.026330680813439433: 6,
         0.040044208664898315: 1,
         0.03439434129089301: 1,
         0.03147656940760389: 1,
         0.04391688770999116: 3,
         0.05305039787798408: 7,
         0.01945181255526083: 4,
         0.034597701149425286: 1,
         0.03992042440318302: 1,
         0.03242263483642794: 1,
         0.026357206012378422: 4,
         0.03947833775419982: 1,
         0.032829354553492486: 1,
         0.0394341290893015: 1,
         0.03184792219274978: 1,
         0.04288240495137047: 1,
         0.03831122900088417: 1,
         0.055464190981432356: 1,
         0.0663129973474801: 7,
         0.04809902740937223: 1,
         0.052900088417329794: 1,
         0.05481874447391689: 7,
         0.04594164456233422: 1,
         0.047197170645446505: 1,
         0.03980548187444739: 1,
         0.048187444739168875: 2,
         0.041998231653404064: 1,
         0.026383731211317415: 3,
         0.040229885057471264: 1,
         0.0449867374005305: 1,
         0.04080459770114942: 1,
         0.02630415561450044: 2,
         0.04680813439434128: 1,
         0.04157382847038019: 2,
         0.026118479221927497: 2,
         0.046728558797524314: 1,
         0.04038019451812555: 1,
         0.04693191865605658: 1,
         0.03985853227232537: 1,
         0.05107869142351901: 1,
         0.060123784261715295: 21,
         0.05835543766578249: 27,
         0.043457117595048625: 1,
         0.054730327144120246: 1,
         0.0636604774535809: 20,
         0.044447391688771: 2,
         0.05802829354553492: 2,
         0.0680813439434129: 8,
         0.04063660477453581: 2,
         0.061096374889478326: 1,
         0.06984969053934571: 3,
         0.04789566755083997: 1,
         0.05969938107869142: 1,
         0.05240495137046861: 1,
         0.05923961096374889: 12,
         0.050583554376657826: 1,
         0.05165340406719717: 1,
         0.04975243147656941: 1,
         0.05441202475685234: 1,
         0.044465075154730326: 1,
         0.055349248452696724: 2,
         0.04465075154730327: 1,
         0.058249336870026515: 1,
         0.04706454465075154: 1,
         0.04763925729442971: 1,
         0.05750663129973475: 3,
         0.05008841732979664: 1,
         0.056498673740053046: 1,
         0.05250221043324491: 1,
         0.054358974358974355: 1,
         0.054801061007957556: 2,
         0.04435897435897436: 1,
         0.05898320070733863: 1,
         0.05745358090185677: 1,
         0.04737400530503978: 1,
         0.062095490716180375: 1,
         0.07250221043324491: 1,
         0.049885057471264364: 2,
         0.06505747126436781: 1,
         0.07427055702917772: 1,
         0.05583554376657825: 1,
         0.0565340406719717: 1,
         0.05214854111405835: 1,
         0.05686118479221927: 1,
         0.05206012378426172: 2,
         0.05163572060123784: 1,
         0.06100795755968169: 11,
         0.0425552608311229: 1,
         0.05143236074270557: 1,
         0.04193633952254642: 1,
         0.05192749778956675: 1,
         0.0438815207780725: 1,
         0.05236958443854995: 1,
         0.04822281167108753: 1,
         0.05869142351900972: 1,
         0.05352785145888594: 2,
         0.06047745358090186: 1,
         0.0549867374005305: 1,
         0.06030946065428823: 1,
         0.056215738284703796: 1,
         0.05034482758620689: 1,
         0.04839080459770114: 2,
         0.05269672855879752: 2,
         0.04838196286472148: 1,
         0.055393457117595045: 1,
         0.050327144120247566: 1,
         0.02656940760389036: 6,
         0.05736516357206012: 1,
         0.05207780725022104: 1,
         0.05743589743589743: 1,
         0.05297966401414677: 1,
         0.0264367816091954: 3,
         0.05529619805481874: 1,
         0.05024756852343059: 2,
         0.056127320954907155: 1,
         0.04786030061892131: 1,
         0.056074270557029175: 1,
         0.04934571175950486: 1,
         0.055022104332449154: 1,
         0.049973474801061006: 1,
         0.058523430592396106: 1,
         0.0627763041556145: 16,
         0.05349248452696728: 1,
         0.056923076923076917: 2,
         0.05485411140583554: 1,
         0.053200707338638374: 1,
         0.04918656056587091: 2,
         0.059752431476569404: 1,
         0.05097259062776304: 1,
         0.059920424403183015: 1,
         0.05762157382847038: 1,
         0.04931034482758621: 1,
         0.05726790450928381: 1,
         0.04721485411140583: 1,
         0.05946065428824049: 1,
         0.049584438549955784: 1,
         0.05837312113174181: 1,
         0.05229885057471264: 1,
         0.059186560565870905: 1,
         0.05916887709991158: 1,
         0.05507515473032714: 1,
         0.05728558797524315: 1,
         0.05391688770999115: 1,
         0.050026525198938986: 1,
         0.05203359858532272: 1,
         0.04458001768346596: 1,
         0.052236958443854994: 1,
         0.04647214854111406: 2,
         0.054288240495137044: 1,
         0.04877984084880636: 2,
         0.05549955791335102: 1,
         0.050654288240495136: 1,
         0.054871794871794874: 2,
         0.051061007957559676: 1,
         0.05645446507515473: 1,
         0.05260831122900088: 1,
         0.057214854111405825: 1,
         0.05272325375773652: 1,
         0.05806366047745358: 1,
         0.05017683465959328: 1,
         0.05483642793987622: 1,
         0.05054818744473917: 1,
         0.05455349248452697: 1,
         0.04778072502210433: 1,
         0.04723253757736516: 1,
         0.05063660477453581: 1,
         0.05347480106100795: 1,
         0.048868258178603005: 1,
         0.054686118479221925: 1,
         0.047948717948717946: 2,
         0.05427055702917772: 1,
         0.053952254641909815: 1,
         0.05449160035366932: 1,
         0.05913351016799292: 1,
         0.05102564102564102: 1,
         0.06069849690539346: 1,
         0.0716180371352785: 1,
         0.05092838196286472: 1,
         0.060194518125552605: 1,
         0.05279398762157383: 1,
         0.059513704686118475: 1,
         0.055057471264367816: 1,
         0.055411140583554376: 1,
         0.05007073386383731: 2,
         0.05267904509283819: 1,
         0.04900088417329797: 1,
         0.05118479221927497: 1,
         0.054332449160035365: 1,
         0.04937223695844386: 1,
         0.05747126436781609: 2,
         0.04082228116710875: 1,
         0.05213085764809903: 1,
         0.04669319186560566: 1,
         0.05373121131741821: 1,
         0.048611847922192745: 1,
         0.055959328028293544: 1,
         0.04986737400530503: 2,
         0.0570999115826702: 1,
         0.05374889478337754: 1,
         0.05627763041556145: 1,
         0.051909814323607424: 1,
         0.053642793987621576: 1,
         0.05119363395225464: 1,
         0.04840848806366047: 1,
         0.04313881520778072: 1,
         0.04050397877984085: 1,
         0.0448894783377542: 1,
         0.048921308576480985: 1,
         0.04662245800176834: 1,
         0.05004420866489832: 1,
         0.047170645446507516: 1,
         0.04962864721485411: 1,
         0.04905393457117595: 1,
         0.04881520778072502: 1,
         0.046401414677276744: 1,
         0.046047745358090184: 1,
         0.043342175066313: 1,
         0.04566755083996463: 1,
         0.042679045092838194: 1,
         0.04560565870910698: 1,
         0.04301503094606542: 1,
         0.04757736516357206: 1,
         0.04291777188328912: 1,
         0.046657824933687: 1,
         0.04202475685234306: 1,
         0.04588859416445623: 1,
         0.04148541114058355: 1,
         0.046534040671971706: 1,
         0.0484261715296198: 1,
         0.045994694960212204: 1,
         0.04711759504862953: 1,
         0.039876215738284704: 1,
         0.042068965517241375: 1,
         0.038647214854111406: 1,
         0.0412290008841733: 1,
         0.037471264367816094: 1,
         0.04765694076038903: 1,
         0.04527851458885941: 1,
         0.049938107869142344: 1,
         0.04667550839964633: 1,
         0.04684350132625994: 1,
         0.0427763041556145: 1,
         0.04808134394341291: 1,
         0.04282935455349248: 1,
         0.039549071618037134: 1,
         0.026065428824049514: 1,
         0.03940760389036251: 1,
         0.03584438549955791: 1,
         0.026198054818744473: 2,
         0.04522546419098143: 1,
         0.041635720601237845: 1,
         0.03755968169761273: 1,
         0.04134394341290892: 1,
         0.04101679929266136: 1,
         0.03819628647214854: 1,
         0.046445623342175064: 1,
         0.04483642793987622: 1,
         0.04417329796640141: 1,
         0.04217506631299735: 1,
         0.04219274977895667: 1,
         0.03878868258178603: 1,
         0.045128205128205125: 1,
         0.045437665782493364: 1,
         0.04236074270557029: 1,
         0.04184792219274978: 1,
         0.03677276746242263: 1,
         0.03202475685234306: 1,
         0.03675508399646331: 1,
         0.03371352785145889: 1,
         0.03212201591511936: 1,
         0.025941644562334217: 1,
         0.03230769230769231: 1,
         0.029885057471264364: 1,
         0.035190097259062775: 1,
         0.03148541114058355: 1,
         0.036984969053934565: 1,
         0.035216622458001764: 1,
         0.026091954022988507: 1,
         0.033023872679045094: 1,
         0.03190981432360743: 1,
         0.0354288240495137: 1,
         0.03167992926613616: 1,
         0.033448275862068964: 1,
         0.0: 2,
         0.03175066312997347: 2,
         0.02617152961980548: 1,
         0.0362157382847038: 1,
         0.033748894783377545: 1,
         0.04294429708222811: 1,
         0.0417683465959328: 1,
         0.04374889478337754: 1,
         0.0406896551724138: 1,
         0.04443854995579133: 1,
         0.04121131741821397: 1,
         0.03805481874447392: 1,
         0.04005305039787798: 1,
         0.03870910698496905: 1,
         0.03984969053934571: 1,
         0.03852343059239611: 1,
         0.02709106984969054: 1,
         0.03680813439434129: 1,
         0.031096374889478338: 1,
         0.028116710875331564: 1,
         0.004420866489832007: 1,
         0.025234305923961094: 1,
         0.03500442086648983: 1,
         0.029115826702033595: 1,
         0.028355437665782492: 1})

In [164]:
# 合并归一化后的数据
mm_wp_df=pd.DataFrame(mm_wp)
mm_wp_df=mm_wp_df.set_index(wtdf.index)
wt_encoded_df=pd.DataFrame(wt_encoded)
wt_encoded_df=wt_encoded_df.set_index(wtdf.index)
ML=pd.concat([wt_encoded_df,mm_wp_df,M_train['total_litter']],axis=1)

In [165]:
ML

,0,1,2,3,0,1,2,3,4,5,...,12,13,14,15,16,17,18,19,20,total_litter
2021-01-06,0.0,0.0,0.0,1.0,0.032352,0.030062,0.034483,0.027409,0.035367,0.013263,...,0.012378,0.094607,0.013263,0.025641,0.013263,0.123784,1.0,0.548187,0.016799,3.0
2021-01-07,0.0,0.0,1.0,0.0,0.033192,0.030062,0.036251,0.027409,0.035367,0.014147,...,0.012378,0.094607,0.013263,0.025641,0.013263,0.123784,1.0,0.548187,0.016799,2.0
2021-01-08,0.0,0.0,1.0,0.0,0.031795,0.026525,0.036251,0.027409,0.035367,0.006189,...,0.012378,0.094607,0.013263,0.025641,0.013263,0.123784,1.0,0.548187,0.016799,114.0
2021-01-09,0.0,1.0,0.0,0.0,0.028674,0.022104,0.038019,0.027409,0.035367,0.007073,...,0.012378,0.094607,0.013263,0.025641,0.013263,0.123784,1.0,0.548187,0.016799,58.0
2021-01-10,1.0,0.0,0.0,0.0,0.032042,0.024757,0.036251,0.027409,0.035367,0.010610,...,0.012378,0.094607,0.013263,0.025641,0.013263,0.123784,1.0,0.548187,0.016799,49.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-19,0.0,0.0,1.0,0.0,0.039850,0.038019,0.040672,0.029178,0.037135,0.010610,...,0.012378,0.094607,0.013263,0.025641,0.013263,0.123784,1.0,0.548187,0.016799,92.0
2021-12-20,1.0,0.0,0.0,0.0,0.036808,0.028294,0.039788,0.029178,0.037135,0.006189,...,0.012378,0.094607,0.013263,0.025641,0.013263,0.123784,1.0,0.548187,0.016799,232.0
2021-12-21,0.0,0.0,0.0,1.0,0.028117,0.023873,0.038019,0.029178,0.037135,0.004421,...,0.012378,0.094607,0.013263,0.025641,0.013263,0.123784,1.0,0.548187,0.016799,14.0
2022-01-20,1.0,0.0,0.0,0.0,0.035004,0.031830,0.038019,0.027409,0.035367,0.026525,...,0.012378,0.094607,0.013263,0.025641,0.013263,0.123784,1.0,0.548187,0.016799,5.0
2022-03-20,0.0,0.0,0.0,1.0,0.036676,0.031830,0.042440,0.030062,0.043324,0.017683,...,0.012378,0.094607,0.013263,0.025641,0.013263,0.123784,1.0,0.548187,0.016799,27.0

In [166]:
ML_array=np.array(ML)

In [167]:
np.save('Hoorn_array2', ML)

## poi提取

In [173]:
poi1=pd.read_csv('./data/poi1/poi1.csv')

In [169]:
poi1['geometry']

0      POINT (5.0817843 52.6456291)
1      POINT (5.0961325 52.6457239)
2      POINT (5.0812344 52.6458317)
3      POINT (5.0968648 52.6460559)
4      POINT (5.0853898 52.6531698)
                   ...
450    POINT (5.0931458 52.6533975)
451    POINT (5.0932666 52.6531166)
452    POINT (5.0932798 52.6532018)
453    POINT (5.0934684 52.6531761)
454    POINT (5.0936391 52.6532932)
Name: geometry, Length: 455, dtype: object

In [170]:
points['geometry'].astype(str)

0       POINT (5.0624231 52.6350804)
1       POINT (5.0085054 52.6350184)
2         POINT (5.0578571 52.63695)
3       POINT (5.0572411 52.6381662)
4       POINT (5.0523931 52.6417891)
                    ...
2397     POINT (5.0472634 52.647675)
2398    POINT (5.0469239 52.6475957)
2399    POINT (5.0465883 52.6476558)
2400    POINT (5.0473351 52.6479847)
2401    POINT (5.0471709 52.6476163)
Name: geometry, Length: 2402, dtype: object

In [171]:
poi1_flag=points['geometry'].astype(str).isin(poi1['geometry'])

In [172]:
poi1_flag.value_counts()

False    1947
True      455
Name: geometry, dtype: int64

In [174]:
poi1=points[poi1_flag].reset_index(drop=True)# 第一类poi

In [175]:
poi1.to_file('./data/poi1.shp')# 输出为shapefile文件

In [176]:
poi1[['osm_id','type','geometry']].set_index(['osm_id'])

             type                  geometry
osm_id
47077200  traffic  POINT (5.08178 52.64563)
47080156  traffic  POINT (5.09613 52.64572)
47081177  traffic  POINT (5.08123 52.64583)
47081536  traffic  POINT (5.09686 52.64606)
47097804  traffic  POINT (5.08539 52.65317)
...           ...                       ...
49020516  miscpoi  POINT (5.09315 52.65340)
49020522  miscpoi  POINT (5.09327 52.65312)
49020523  miscpoi  POINT (5.09328 52.65320)
49020524  miscpoi  POINT (5.09347 52.65318)
49076038  miscpoi  POINT (5.09364 52.65329)

[455 rows x 2 columns]

In [198]:
poi2=pd.read_csv('./outdata/poi2/poi2.csv')

In [200]:
poi2_flag=points['geometry'].astype(str).isin(poi2['geometry'])

In [201]:
poi2_flag.value_counts()

False    1433
True      969
Name: geometry, dtype: int64

In [202]:
poi2=points[poi2_flag].reset_index(drop=True)# 第二类poi

In [203]:
poi2.to_file('./outdata/poi2/poi2.shp')# 输出为shapefile文件

In [204]:
poi3=pd.read_csv('./outdata/poi3/poi3.csv')

In [205]:
poi3_flag=points['geometry'].astype(str).isin(poi3['geometry'])

In [206]:
poi3_flag.value_counts()

False    2360
True       42
Name: geometry, dtype: int64

In [207]:
poi3=points[poi3_flag].reset_index(drop=True)# 第二类poi

In [208]:
poi3.to_file('./outdata/poi3/poi3.shp')# 输出为shapefile文件

## 时间分段标签

In [177]:
is_weekly=df_date.weekday==6 # 一周结束

In [178]:
df_date.weekday==(5 or 6)

array([False, False, False,  True, False, False, False, False, False,
       False, False, False, False, False, False, False, False,  True,
       False, False, False, False, False, False,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False,  True, False, False, False, False, False, False, False,
        True, False, False, False, False,  True, False, False, False,
       False,  True, False, False, False, False, False,  True, False,
       False, False, False, False,  True, False, False, False, False,
       False, False, False, False, False,  True, False, False, False,
       False, False, False,  True, False, False, False, False, False,
        True, False, False, False, False, False,  True, False, False,
       False, False, False,  True, False, False, False, False, False,
       False, False, False, False,  True, False, False, False, False,
        True, False, False, False, False, False, False, False, False,
       False, False,  True, False, False, False, False,  True, False,
       False, False, False,  True, False, False, False, False, False,
       False, False, False, False,  True, False, False, False, False,
        True, False, False, False, False, False, False,  True, False,
       False, False, False, False,  True, False, False, False, False,
       False, False,  True, False, False,  True, False, False, False,
       False, False, False, False, False, False,  True, False, False,
       False, False,  True, False, False, False,  True, False, False,
       False,  True, False, False,  True, False, False, False, False,
        True, False, False, False, False, False,  True, False, False,
       False, False, False])

In [179]:
holiday=pd.to_datetime(['2021-01-01','2021-04-02','2021-04-04','2021-04-27','2021-05-04','2021-05-05','2021-05-13','2021-05-23','2021-05-24',
         '2021-12-05','2021-12-06','2021-12-24','2021-12-25','2021-12-26','2021-12-31',
        '2022-01-01','2022-04-02','2022-04-04','2022-04-27','2022-05-04','2022-05-05','2022-05-26','2022-06-05','2022-06-06',
         '2022-12-05','2022-12-06','2022-12-24','2022-12-25','2022-12-26','2022-12-31'])

In [180]:
is_holiday=df_date.isin(holiday)

In [181]:
is_holiday=np.array(is_holiday)+np.array(df_date.weekday==(5 or 6))

In [182]:
Date=pd.DataFrame(np.zeros([228,3]),columns=['daily','weekly','holiday'])

In [183]:
Date=Date.set_index(df_date)

In [184]:
ML1=pd.concat([Date,ML],axis=1)

In [185]:
ML1

,daily,weekly,holiday,0,1,2,3,0,1,2,...,12,13,14,15,16,17,18,19,20,total_litter
2021-01-06,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.032352,0.030062,0.034483,...,0.012378,0.094607,0.013263,0.025641,0.013263,0.123784,1.0,0.548187,0.016799,3.0
2021-01-07,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.033192,0.030062,0.036251,...,0.012378,0.094607,0.013263,0.025641,0.013263,0.123784,1.0,0.548187,0.016799,2.0
2021-01-08,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.031795,0.026525,0.036251,...,0.012378,0.094607,0.013263,0.025641,0.013263,0.123784,1.0,0.548187,0.016799,114.0
2021-01-09,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.028674,0.022104,0.038019,...,0.012378,0.094607,0.013263,0.025641,0.013263,0.123784,1.0,0.548187,0.016799,58.0
2021-01-10,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.032042,0.024757,0.036251,...,0.012378,0.094607,0.013263,0.025641,0.013263,0.123784,1.0,0.548187,0.016799,49.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-19,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.039850,0.038019,0.040672,...,0.012378,0.094607,0.013263,0.025641,0.013263,0.123784,1.0,0.548187,0.016799,92.0
2021-12-20,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.036808,0.028294,0.039788,...,0.012378,0.094607,0.013263,0.025641,0.013263,0.123784,1.0,0.548187,0.016799,232.0
2021-12-21,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.028117,0.023873,0.038019,...,0.012378,0.094607,0.013263,0.025641,0.013263,0.123784,1.0,0.548187,0.016799,14.0
2022-01-20,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.035004,0.031830,0.038019,...,0.012378,0.094607,0.013263,0.025641,0.013263,0.123784,1.0,0.548187,0.016799,5.0
2022-03-20,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.036676,0.031830,0.042440,...,0.012378,0.094607,0.013263,0.025641,0.013263,0.123784,1.0,0.548187,0.016799,27.0

In [186]:
ML1['daily']=1.0

In [187]:
ML1[is_weekly].index

DatetimeIndex(['2021-01-10', '2021-01-31', '2021-02-21', '2021-02-28',
               '2021-03-07', '2021-03-14', '2021-03-21', '2021-04-11',
               '2021-04-18', '2021-04-25', '2021-05-02', '2021-05-09',
               '2021-05-16', '2021-05-30', '2021-06-06', '2021-06-13',
               '2021-06-20', '2021-06-27', '2021-07-04', '2021-07-18',
               '2021-07-25', '2021-08-01', '2021-08-29', '2021-09-05',
               '2021-09-12', '2021-09-26', '2021-10-03', '2021-10-10',
               '2021-10-17', '2021-10-24', '2021-11-14', '2021-11-21',
               '2021-11-28', '2021-12-12', '2021-12-19', '2022-03-20'],
              dtype='datetime64[ns]', freq=None)

In [188]:
ML1.loc[is_weekly,'weekly']=1.0

In [189]:
ML1['weekly'].value_counts()

0.0    192
1.0     36
Name: weekly, dtype: int64

In [190]:
ML1.loc[is_holiday,'holiday']=1.0

In [191]:
ML1['holiday'].value_counts()

0.0    192
1.0     36
Name: holiday, dtype: int64

In [192]:
ML1

,daily,weekly,holiday,0,1,2,3,0,1,2,...,12,13,14,15,16,17,18,19,20,total_litter
2021-01-06,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.032352,0.030062,0.034483,...,0.012378,0.094607,0.013263,0.025641,0.013263,0.123784,1.0,0.548187,0.016799,3.0
2021-01-07,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.033192,0.030062,0.036251,...,0.012378,0.094607,0.013263,0.025641,0.013263,0.123784,1.0,0.548187,0.016799,2.0
2021-01-08,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.031795,0.026525,0.036251,...,0.012378,0.094607,0.013263,0.025641,0.013263,0.123784,1.0,0.548187,0.016799,114.0
2021-01-09,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.028674,0.022104,0.038019,...,0.012378,0.094607,0.013263,0.025641,0.013263,0.123784,1.0,0.548187,0.016799,58.0
2021-01-10,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.032042,0.024757,0.036251,...,0.012378,0.094607,0.013263,0.025641,0.013263,0.123784,1.0,0.548187,0.016799,49.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-19,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.039850,0.038019,0.040672,...,0.012378,0.094607,0.013263,0.025641,0.013263,0.123784,1.0,0.548187,0.016799,92.0
2021-12-20,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.036808,0.028294,0.039788,...,0.012378,0.094607,0.013263,0.025641,0.013263,0.123784,1.0,0.548187,0.016799,232.0
2021-12-21,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.028117,0.023873,0.038019,...,0.012378,0.094607,0.013263,0.025641,0.013263,0.123784,1.0,0.548187,0.016799,14.0
2022-01-20,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.035004,0.031830,0.038019,...,0.012378,0.094607,0.013263,0.025641,0.013263,0.123784,1.0,0.548187,0.016799,5.0
2022-03-20,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.036676,0.031830,0.042440,...,0.012378,0.094607,0.013263,0.025641,0.013263,0.123784,1.0,0.548187,0.016799,27.0

In [ ]:
ML1.to_csv('./Baseline_data.csv')